body {
    text-align: center;
	margin:0;
	display:flex;
	height:100vh;
	align-items:center;
    font-family:'Courier New', Courier, monospace;
    font-size:large;
}

.bigdawg {
  text-align: center;
  display: flex;
  margin: auto;
  height:35vh;
  width: 35vh;
}